    <!-- About Section -->

    <section id="about" class="container content-section text-left">
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>A propos</h2>
                    <p>Fondée en 2014, la GAFSCHOLA (Gladiatorium Artium Friburgensis Schola) est basée à Fribourg. Notre association promeut la pratique des Arts Martiaux Historiques Européens (AMHE).<br> 
                    L’Association poursuit les buts suivants&nbsp;:<br>
                    <ul class="buts"> 
                        <li>Transmettre les gestes martiaux relatifs aux AMHE.
                        </li>
                        <li>Collaborer aux études sur des sources textuelles (transcriptions et traductions).
                        </li>
                        <li>Prendre part aux recherches relatives à la pratique des AMHE.
                        </li>
                        <li>Considérer les méthodes de transmission de savoir pour la pratique des AMHE.
                        </li>
                        <li>S’investir dans une dynamique de partage de savoir au sein de la communauté.
                        </li>
                    </ul> 
                   <p> L'Association est membre de la Fédération Suisse des Arts Martiaux Historiques Européens <a href="http://swiss-hema.ch/fr/"> (FSAMHE)</a>.<br> Les statuts complets de l'Association sont disponibles<a href="{{ '/assets/download/StatutsGAFS_v.2016.pdf' | prepend: site.baseurl }}"> ici</a>.   
                </p>
            </div>
        </div> 
        
    </section>