    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>A propos</h2>
                <p>Fondée en 2014, la GAFSCHOLA (Gladiatorium Artium Friburgensis Schola) est basée à Fribourg. Nous cherchons à transmettre les gestes relatifs aux Arts Martiaux Historiques Européens et nous sommes également impliqués dans la recherche et le développement des AMHE. </p>
                <p>L'association est membre de la <a href="http://swiss-hema.ch/fr/">Fédération Suisse des Arts Martiaux Historiques Européens </a></p>
                <p>
                    L’Association poursuit les buts suivants:
                    <ul> 
                        <li class="buts">Transmettre les gestes martiaux relatifs aux Arts Martiaux Historiques Européens.
                        </li>
                        <li class="buts">Collaborer aux études sur des sources textuelles (transcriptions et traductions).
                        </li>
                        <li class="buts">Prendre part aux recherches relatives à la pratique des Arts Martiaux Historiques Européens (AMHE).
                        </li>
                        <li class="buts">
                        Considérer les méthodes de transmission de savoir pour pratiquer les Arts Martiaux Historiques Européens.
                        </li>
                        <li class="buts">S’investir dans une dynamique de partage de savoir au sein de la communauté HEMAC.
                        </li>
                    </ul> 
                </p>
                <p> </p>
            </div>
        </div> 
</section>