    <!-- Event Section -->

    <section id="event" class="container content-section text-left">
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                
            <h2> Cours d'initiation</h2>  
            
                <p> <strong> A la recherche d'une piste originale pour votre prochaine activité&nbsp;? </strong> <br>
                    
                    Nous serions ravis de vous proposer un cours d'initation privé à l'escrime historique. Que ce soit à l'occasion d'un séminaire d'entreprise, d'un entrerrement de vie de jeune garçon ou à l'occasion d'une fête, nous pouvons mettre sur pied un atelier de découverte des AMHE en vous offrant la possibilité de manier une épée ou un sabre dans un contexte sûr et en ayant les informations historiques nécessaires.<br>
                    
                    Cette session de découverte est partagée en plusieurs parties&nbsp;: <br>
                    
                    <ul class="buts">
                    <li>Introduction aux AMHE</li>
                    <li>Échauffement</li>
                    <li>Théorie et pratique sur les déplacements, les gardes, les attaques et quelques techniques avancées</li>
                    <li>Mise en pratiques des fondamentaux avec des combats libres</li>
                    <li>Discussions et étirements</li>
                    </ul>
                    
                    <p> Pour mettre tout cela sur pied ensemble et dans l'idée de construire le projet qu'il vous faut adapté à votre budget, contactez-nous par <a href="mailto:{{ site.email }}"> e-mail</a>.
                
                </p>
                
            </div>
        </div>
        
    </section>