    <!-- Intro Header -->

    <header class="intro">
        
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"> <div class="une"> <img src="{{ '/img/GAFS_logo_black-01.png' | prepend: site.baseurl }}"></div></h1>
                        <p class="intro-text"><strong>{{ site.description }}</strong><br>
                        <a href="#about" class="btn btn-circle page-scroll"> <i class="fa fa-angle-double-down animated"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
