    <!-- jQuery Version 1.11.0 -->
    <script src="{{ '/js/jquery.js' | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ '/js/jquery.easing.min.js' | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ '/js/grayscale.js' | prepend: site.baseurl }}"></script>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
           integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
           crossorigin=""></script>  
