    <!-- Map Section -->
    <div id="map">
        <script>
            var mymap = L.map('mapid').setView([46.794737, 7.157835], 7);
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom: 4, maxZoom: 12, attribution: osmAttrib});
            mymap.addLayer(osm);
            L.marker(46.794737, 7.157835).addTo(mymap).bindPopup("Lieu d'entraînement"); 
        </script>
    </div>
