    <!-- Map Section -->

    <div id="mapid">
        
        <script>
            var mymap = L.map('mapid').setView([46.794696, 7.158363], 15);
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});
            mymap.addLayer(osm);
            
             L.marker([46.794696, 7.158363]).addTo(mymap).bindPopup("<a href='www.gafschola.ch'> <strong>Entraînement</strong> </a>"); 

        </script>
        
    </div>


