    <!-- Media Section -->

    <section id="media" class="container content-section text-center">
        <div class="row">
            
            <div class="col-lg-8 col-lg-offset-2">
                
            <h2>La GAFS dans les médias</h2>  
            
                <p class="media"> Couleurs Locales (RTS), 24 septembre 2014.
                <span><iframe src='//tp.srgssr.ch/p/rts/embed?urn=urn:rts:video:6171105&start=' allowfullscreen='allowfullscreen' referrerpolicy='no-referrer-when-downgrade' width='624' height='351' frameborder='0' name="FR: la ville offre un cadre idyllique à la pratique de l'escrime médiévale"></iframe></span></p>
                
                <p class="media"><a href="{{ '/assets/download/GAFS_Liberte.pdf' | prepend: site.baseurl }}">La Liberté</a>, pages jeunes, 11 décembre 2015.<br> <em> Qui n&rsquo;a jamais rêvé de se battre avec une épée? </em></p>
                
                <p class="media"><a href="{{ '/assets/download/GAFS_Medieval.pdf' | prepend: site.baseurl }}">La Liberté</a>, pages jeunes, 20 juin 2017.<br> <em> Oyez, oyez, jeunes gens </em></p>
                
            <h2>Galerie photo</h2> 
                
                <p> /en construction/ </p>
                
            </div>
            
        </div>
    </section>