    <!-- Research and work Section -->

    <section id="recherche" class="content-section text-left">
        <div class="recherche">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" class="content-section text-center">
                
                <h2>Recherches et projets</h2>
                
                </div>

                <div class="col-sm-4">
                
                       <h3> En cours de travail</h3>
                    
                        <ul>Elaboration d'un <button type="button" class="btn btn-aramark-primary" onclick="window.open('{{'/generateur.html' | prepend: site.baseurl}}', '_blank')">Générateur </button> d'entraînement ou d'échauffement aléatoire sur une base d'exercices élaborés en cours ou inspirés des traveux de la communauté. </ul>
                    
                        <ul>Transcription de la <a href="http://data.rero.ch/01-R007038680/html?view=FR_V1">Théorie pour l’exercice du Sabre et de la Bayonnette</a> de Joseph Bonivini, publié à Fribourg vers 1851.</ul>             
               </div>
                
                <div class="col-sm-4">
                    
                        <h3>Ateliers</h3>x
                    
                        <li> La Canne selon Leboucher, de Flavie Spicher et Etienne von Gunten, Swiss-Gathering, 2015.</li>
                        <li> <a href="https://docs.google.com/document/d/1AHlXlFyvmtFHj-KCAlw45FsoAT33zjP1tXQuoqFovVg/edit?usp=sharing">"Survivre dans les tranchées"</a> : pelle, baïonnette, de Valentin Clément, Flavie Spicher et Dimitri Zufferey, Swiss-Gathering, 2016.</li>
                        <li> La hache d'armes selon l'Anonyme Bolognais, Yan Charrière, Augustine Clément, Swiss-Gathering, 2017.</li>                
              </div>
                
                <div class="col-sm-4">
                    
                    <h3>Documents et transcriptions</h3>

                        <li> <a href="{{ '/assets/sources/GAFS_Galley_Traite_1877.pdf' | prepend: site.baseurl }}">Transcription du Traité d'escrime pratique au sabre, à la baïonnette et au bâton, de Léon Galley, édité à Fribourg en 1877.</a></li>
                    
                    <h3>Sources numérisées</h3>
  
                        <li> <a href="{{ '/assets/sources/1845_DMF_Instrcution sur l'escrime à la baïonnette, Berne.pdf' | prepend: site.baseurl }}"> Département Militaire Fédéral, Instruction sur l'escrime à la baïonnette, Berne, 1845.</a></li>
                        <li> <a href="{{ '/assets/sources/1852_Rougemont_Traité sur l'escrime à la bayonnette, Neuchâtel.pdf' | prepend: site.baseurl }}"> Rougemont, Traité sur l'escrime à la bayonnette Bonivini, Neuchâtel, 1852.</a></li>
                        <li> <a href="{{ '/assets/sources/1865_Instruction sur l'escrime au sabre (Contre- pointe).pdf' | prepend: site.baseurl }}"> Département Militaire Fédéral, Instruction sur l'escrime au sabre (Contre-pointe), Berne, 1865.</a></li>
                        <li> <a href="{{ '/assets/sources/1890_Atlhoffer_Des plaies par instruments piquants et en  particulier par la baïonnette, Lyon, Storck.pdf' | prepend: site.baseurl }}"> Althoffer, Des plaies par instruments piquants et en  particulier par la baïonnette, Lyon, 1890.</a></li>
                    
                </div>
            </div>
        </div>
    </section>