    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="recherche">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Recherches et travaux</h2>
                    
                    <p>En cours de travail</p>
                    <a href="https://zufferdi.github.io/amhe_entrainement/" class="btn btn-default btn-lg">Un générateur d'entraînement</a>
                    
                    <h2>Ateliers</h2>
                    
                    
                </div>
            </div>
        </div>
    </section>