    <section id="download" class="content-section text-center">
        <div class="recrutement">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h5>Les arts martiaux te passionnent ? </h5>
                    <p>Tu as toujours voulu faire un sport de combat, mais rien ne te convenait ? <br>
                    Désires-tu découvrir les gestes guerriers du XVème et au début du XXème siècle?
                    Pratiquer l’escrime à l’épée longue, la lutte dans un cadre dynamique et sérieux?
                    Tu veux sortir de ta zone de confort tout en restant dans un cadre sécurisé?
                    Faire de l’archéologie expérimentale à la pointe d'une lame?
                    
                    Bref, souhaites-tu pratiquer les Arts Martiaux Historiques Européens?
                    Sache que GAFSchola est là pour répondre à tes vœux!
                    Contacte simplement <a href="mailto:gafschola@gmail.com"> un membre du comité </a> et viens assister à nos entrainements.</p>
                    
                   
                </div>  
            </div>
        </div>
    </section>