    <!-- Recruit Section -->

    <section id="recrutement" class="container content-section text-left">
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Les arts martiaux te passionnent&nbsp;? </h3>
                
                    <p> La GAFSchola te permet de découvrir des gestes guerriers allant du 15ème jusqu'aux débuts du 20ème siècle. Etre membre de la GAFSchola, c'est aussi pratiquer l’escrime à l’épée longue, à la canne, ou encore de la lutte dans un cadre dynamique et sérieux. </p>
                
                    <p>Alors si tu veux sortir de ta zone de confort tout en restant dans un cadre sécurisé pour faire de l’archéologie expérimentale à la pointe d'une lame, n'hésite pas, les Arts Martiaux historiques européens sont là pour toi. Pour venir assister à l'un de nos entraînements et découvrir cet univers, contacte simplement <a href="mailto:{{ site.email }}"> un membre du comité </a> et viens assister à nos entraînements.</p>
                </div>  
            </div>
        
    </section>