    <!-- Recruit Section -->

    <section id="recrutement" class="container content-section text-left">
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Les arts martiaux te passionnent&nbsp;? </h3>
                
                    <p> Tu as toujours voulu faire un sport de combat, mais rien ne te convenait&nbsp;? Envie de découvrir des gestes guerriers allant du 15ème jusqu'aux débuts du 20ème siècle&nbsp;? </p>
                
                    <p> Pratiquer l’escrime à l’épée longue, de la canne, ou de la lutte dans un cadre dynamique et sérieux&nbsp;? </p>
                
                    <p>Tu veux sortir de ta zone de confort tout en restant dans un cadre sécurisé&nbsp;? Faire de l’archéologie expérimentale à la pointe d'une lame&nbsp;? </p>
                    
                    <p> Bref, on aurait pu résumer tout cela en une question&nbsp;: souhaites-tu pratiquer les Arts Martiaux Historiques Européens&nbsp;?
                    Sache que GAFSchola est là pour répondre à tes vœux&nbsp;!<br>
                    Contacte simplement <a href="mailto:{{ site.email }}"> un membre du comité </a> et viens assister à nos entraînements.</p>
                </div>  
            </div>
        
    </section>